# required for running the server

flask
flask_graphql
flask_sqlalchemy
graphene
pandas
PyJWT
PyMySQL{% if cookiecutter.use_sentry == "y" %}
sentry-sdk[flask]{% endif %}
snapshottest

# development tool requirements

black
bumpversion
coverage
flake8
pytest
pytest-flask
pytest-runner
Sphinx
tox
